h1 {
    padding-top: 10%;
    font-family: 'K2D', sans-serif;
    font-size: 400%;
    color: #F0F7EF;
    width: 100%;
}

p {
    color: #99738e;
    text-indent: 50%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.footer {
    display: flex;
    justify-content: flex-end;
}

.credits {
    padding-top: 27%;
    text-align: right;
}

.intro {
    background-image: url('space.jpg');
}

body {
    background-color:#7EC5B5;
}

.head {
    width: 100%;
    height: auto;
    text-align: center;

}

a {
    color: white;
}

.greetings {
    color: #F0F7EF;
}


h4 {
    color: white;
}

.credits h4 a {
    color: white;
    text-decoration: none
}

.coding {
    width: 100%;
    text-align: center;
    background-color: #9BDBE4;
    
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 400%;
}
/* .image{
    text-align:left;
} */
.info1{
    padding-right: 10%;
    text-align: left;
}
.image-and-info{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
    
}
.info1 h3 a{
    text-decoration: none;
    color: #F07C41;
}
.photography{
    background-color: #B4A997;
}